<h1>Servi-taxi</h1>
<a><strong>Una empresa con precios justos</strong></a> 

<p>En Línea Vallenata estamos comprometidos con nuestros clientes, por lo cual, 
  procuramos brindarles los mejores precios del mercado local. 
  Además, cumplimos con todas los normas establecidas en el código de transporte y 
  en la constitución colombiana.</p>
  <br>
<strong>Una empresa comprometida con los taxistas</strong>
  <p>    
      Dentro de la visión de Línea Vallenata esta garantizarle al gremio de taxistas una mejor calidad de vida. 
      A la vez de procurar realizar distintos proyectos que sean duraderos y 
      vayan al centro de las necesidades tanto de los taxistas como de los propietarios.  
  </p>

