<div class="row">
  <div class="col-lg-6">
    <h1>
      Datos del conductor
    </h1>
  </div>
  <br>
</div>


<label>Identificacion:
  <input [(ngModel)]="conductor.identificacion" class="form-control" placeholder="digite el id" type="text" />
</label>


<div class="row">
    <div class="col-lg-2 col-md-4">
      <label>Primer Nombre:
        <input [(ngModel)]="conductor.primer_Nombre" class="form-control" type="text" />
      </label>
    </div>
    <div class="col-lg-2 col-md-4">
      <label>Segundo Nombre:
        <input [(ngModel)]="conductor.segundo_Nombre" class="form-control" type="text" />
      </label>
    </div>
  
    <br>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-4">
      <label>Primer Apellido:
        <input [(ngModel)]="conductor.primer_Apellido" class="form-control" type="text" />
      </label>
    </div>
    <div class="col-lg-2 col-md-4">
      <label>Segundo Apellido:
        <input [(ngModel)]="conductor.segundo_Apellido" class="form-control" type="text" />
      </label>
    </div>
  </div>
<br>


<label>NumLicencia:
  <input [(ngModel)]="conductor.numLicencia" class="form-control" placeholder="digite descripción " type="text" />
</label>
<br>

<label>Telefono:
  <input [(ngModel)]="conductor.telefono" class="form-control" placeholder="digite descripción " type="text" />
</label>

<div class="form-group">
  <button (click)="add()" class="btn btn-alarm">Agregar conductor</button>
</div>
<br>
